body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.titulo-principal {
    font-size: 36px;  /* Tamaño de la fuente */
    color: #2c3e50;   /* Color oscuro */
    text-align: center; /* Centrado */
    margin-top: 20px;  /* Espacio superior */
    font-weight: bold; /* Negrita */
}


header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 500px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 2%;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px;
    background: url('../img/banner.jpg') no-repeat center center/cover;
    color: white;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu-destacado {
    text-align: center;
    padding: 40px;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto img {
    width: 150px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}